include README.md
include AUTHORS
include LICENSE
include MANIFEST.in
recursive-include conf *
recursive-include doc *
recursive-include lib *
recursive-include data *
recursive-include src *
recursive-exclude dist *
recursive-exclude * *.py[co]
