include README.md
include AUTHORS
include LICENSE
include MANIFEST.in
recursive-include conf *
recursive-include docs *
recursive-include lib *
recursive-include tests *
recursive-include testfm *
recursive-exclude dist *
recursive-exclude * *.py[co]
