# required for gensim
# setuptools>=2.1

gensim>=0.8.6
#numpy 1.6 has known problems to work with pandas, try to use 1.8
#numpy==1.8.0
pandas
nose>=1.3.0

# Needs apt-get install libfreetype6-dev libpng-dev
#matplotlib
futures

# in case of mac pyobjc
# C++, java, pyjnius,
# Need BLAS and LAPACK for scipy:
# ex: apt-get install libblas-dev liblapack-dev

http://www.parallelpython.com/downloads/pp/pp-1.6.4.tar.gz

fabric